body{
    background-color: rgb(182, 0, 0);
    text-align: center;
} 
header { 
    margin-top: 5px;
    border-bottom: solid 2px rgb(182, 0, 0);
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
}
p{
    color: antiquewhite;
}
.pruchak {
    font-style: italic;
    color: black;

 
}